.container {
  margin-top: 20px; }
  .container h3 {
    margin-bottom: 20px; }
  .container .black-header {
    background: #2f2f2f;
    color: #fff;
    font-size: 16px; }
  .container .pink-color {
    color: #9b59b6 !important; }
  .container .gray-color {
    color: #b7b7b7; }
  .container .submit-button {
    background-image: linear-gradient(to bottom, #9b59b6 0%, #8f4bab 100%);
    background-repeat: repeat-x;
    border-color: #8f4bab;
    color: #fff;
    font-weight: 700;
    padding: 10px 25px; }
  .container input, .container select {
    border-radius: 0;
    display: block;
    width: 100%;
    height: 46px;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    border-color: #e4e4e4;
    -webkit-appearance: none;
    -webkit-border-radius: 0px; }
  .container .input-group-addon {
    border-radius: 0; }
  .container select {
    background-image: linear-gradient(to bottom, #fff 0%, #f4f4f4 100%);
    background-repeat: repeat-x;
    font-weight: 700; }
